<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Register - ReserveBite</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container mt-5">
    <h1 class="text-center mb-4">Register</h1>
    <form th:action="@{/register}" th:object="${user}" method="post" class="fade-in">
        <div th:if="${usernameExists}" class="alert alert-danger">
            Username already exists. Please choose another one.
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" required/>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
    <p class="text-center mt-3">Already have an account? <a th:href="@{/login}">Login here</a></p>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>

<!-- jQuery and Bootstrap JS -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
