<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<a href="admin/users">Users</a>
<a href="admin/cuisines">Cuisines</a>
<a href="admin/customers">Customers</a>
<a href="delivery-orders">Delivery orders</a>
<a href="admin/couriers">Delivery Persons</a>
<a href="dinein-orders">Dine In orders</a>
<a href="admin/measurements">Measurements</a>
<a href="admin/menu-categories">Menu Categories</a>
<a href="admin/menus">Menus</a>
<a href="admin/orders">Orders</a>
<a href="order-items">Order Items</a>
<a href="admin/payments">Payments</a>
<a href="admin/reservations">Reservations</a>
<a href="admin/restaurants">Restaurants</a>
<a href="admin/roles">Roles</a>
<a href="admin/tables">Tables</a>
</body>
</html>